@header-height:64px;
.header {
    overflow: hidden;
    line-height: @header-height;
    background-color: white;
    position: relative;
    z-index: 1;
    max-width: 100%;
    box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
}