<nz-modal [(nzVisible)]="isVisible" nzTitle="入站提醒" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <i nz-icon [nzIconfont]="'icon-party'"></i><i nz-icon [nzIconfont]="'icon-party'"></i><i nz-icon
            [nzIconfont]="'icon-party'"></i>
        <p>亲爱的访客你好：</p>
        <p class="content">欢迎来到WEBKCOM的编程驿站！
            我是一名普通的上班族，本站可以看作是我个人进行编程练习的平台，
            我会不定时将所学运用到这个网站，网站源码也会在GitHub上同步更新。
            我希望我能坚持更新，也希望这个小小的站点能帮助到更多喜爱编程的人。
        </p>
        <p class="name">WEBKCOM</p>
    </ng-container>
</nz-modal>

<p class="currenttime">
    <i nz-icon nzType="clock-circle" nzTheme="outline"></i> 当前时间: {{date | date:"YYYY年MM月dd日 E
    HH:mm:ss":"UTC+8":"zh-Hans"}}
<p>