@header-height:64px;
.logo {
    strong{
        font-weight: 500;
    }
}

.logo {
    height: @header-height;
    line-height: @header-height;
    padding-left: 40px;
    overflow: hidden;
    color:fade(black,84%);
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;

    img {
        position: relative;
        margin-right: 16px;
    }
}